<div class="background">

  <super-navbar>
    <super-navbar-title>
      Recept vinden
    </super-navbar-title>
  </super-navbar>
  
  <p>Wat heb je in je koelkast staan?</p>
  
  <div class="list list-inset">
	<label class="item item-input">
	    <i class="icon super-search placeholder-icon"></i>
	    <input type="text" placeholder="Voedsel zoeken ...">
	</label>
  </div>

  <ul class="list">
  	<li class="item">Paprika</li>
  	<li class="item">Kaas</li>
  	<li class="item">Kip</li>
  	<li class="item">Sla</li>
  	<li class="item">Rund</li>
  </ul>

  <super-navigate view-id="using-the-scanner">
    <button class="button button-block button-positive icon-left super-wand">Using the AppGyver Scanner</button>
  </super-navigate>

  <super-navigate view-id="learn-more">
    <button class="button button-block button-positive icon-left super-university">Learn more</button>
  </super-navigate>
  
  <super-navigate onclick="captureVideo();">
    <button class="button button-block button-positive icon-left super-camera">Opnemen</button>
  </super-navigate>
  
  <super-navigate view-id="acceleration">
    <button class="button button-block button-positive icon-left super-eye">Acceleration</button>
  </super-navigate>
</div>