<div>

  <super-navbar>

    <super-navbar-title>
      Nieuw recept
    </super-navbar-title>
  </super-navbar>
  
  <div class="row">
  	<div class="col">
  	  <h5 class="lighttittle">Naam en ingrediënten</h5>
  		<div class="card">
		 
				  	<label class="item item-input">
				  		<i class="icon super-compose placeholder-icon"></i>
				    	<input type="text" placeholder="Naam recept">
				  	</label>
				    <label class="item item-input">
      					<i class="icon super-pizza placeholder-icon"></i>
      				<input type="text" placeholder="Ingrediënten">
  					</label>
		
		</div>
	</div>
	</div>
	<div class="row">
		<div class="col">
		    <h5 class="lighttittle">Video's toevoegen</h5>
	
				<div class="list list-inset cardlist">
				<super-navigate class="item item-thumbnail-left" onclick="captureVideo();">

					   <img src="/images/spaghetti.jpg">
					   	<p>Nieuwe stap</p>
				</super-navigate>
			
					<a class="item item-thumbnail-left" href="#playvideo" >
					   <img src="/images/spaghetti.jpg">
					   	<p>Nieuwe stap</p>
					</a>
				
				
        		</div>
		
		</div>

	  
		
		
  </div>
  
  
</div>