<div>

  <super-navbar>
  <super-navbar-button>
    <i class="icon super-android-close"></i>
  </super-navbar-button>
    <super-navbar-title>
      Nieuw recept
    </super-navbar-title>
  </super-navbar>
  
  <div class="row">
  		<a class="card col col-top">
			<div class="item item-image new-recipe">
			   <i class="icon super-plus"></i>
			</div>
		    <h5>Voeg recept toe</h5>
		    <p>This will return you to the initial Scan screen</p>
		</a>

	    <a class="card col col-top" id="recept1" href="recept1.html">
		    <div class="item item-image">
			   <img src="/images/spaghetti.jpg">
			</div>
		    <h5>Spaghetti Carbonara</h5>
		    <p>This will return you to the initial Scan screen</p>
		</a>
		
		
  </div>
  
  
</div>