<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Recept vinden
    </super-navbar-title>
  </super-navbar>
  
  <button class="button button-block button-calm">Wat gaan we eten?</button>
  
  <div class="list list-inset">
	<label class="item item-input">
	    <i class="icon super-search placeholder-icon"></i>
	    <input type="text" placeholder="Voedsel zoeken ...">
	</label>
  </div>

  <div class="row"
	  <ul class="list">
	  	<li class="item col">Paprika</li>
	  	<li class="item col">Kaas</li>
	  	<li class="item col">Kip</li>
	  	<li class="item col">Sla</li>
	  	<li class="item col">Rund</li>
	  </ul>
  </div>
  
  <a href="" class="button button-block button-positive">Even schudden!</a>
  
</div>