<div>

  <super-navbar>
    <super-navbar-title>
      Recept toevoegen
    </super-navbar-title>
  </super-navbar>
  
  <div class="row">
	    <a class="card col col-top" id="recept1" href="recept1.html">
		    <div class="item item-image">
			   <img src="/images/spaghetti.jpg">
			</div>
		    <p>Spaghetti Corbonara</p>
		    <div class="item">
		    	<i class="super-clock item-icon-right placeholder-icon"></i>
		    	<i>15 min</i>
		    </div>
		</a>
		
		<a class="card col col-top">
			<div class="item item-image">
			   <img src="cover.jpg">
			</div>
		    <h3>On Android</h3>
		    <p class="balanced"><strong>Press the native back button in your app's root view.</strong></p>
		    <p>This will return you to the initial Scan screen.</p>
		</a>
  </div>
  
  <div class="row">
	    <a class="card col">
		    <div class="item item-image">
			   <img src="cover.jpg">
			</div>
		    <h3>On iOS</h3>
		    <p class="positive"><strong>Tap and hold on the screen with three fingers.</strong></p>
		    <p>This opens the Scanner context menu.</p>
		  </a>
		
		  <a class="card col">
			<div class="item item-image">
			   <img src="cover.jpg">
			</div>
		    <h3>On Android</h3>
		    <p class="balanced"><strong>Press the native back button in your app's root view.</strong></p>
		    <p>This will return you to the initial Scan screen.</p>
		</a>
  </div>
  
</div>