<super-navbar>
  <super-navbar-title>
    Spaghetti Carbonara
  </super-navbar-title>
</super-navbar>
<div class="item item-image cover">
         <img src="/images/spaghetti.jpg">
      </div>
<div class="padding">
  <h5 class="lighttittle">Informatie</h5>
  <div class="card">
    <div class="item">
              <p>Nieuwe stap</p>
    </div>
  </div>    
  <h5 class="lighttittle">Ingrediënten</h5>
  <div class="card">
    <div class="item">
              <p>Nieuwe stap</p>
    </div>
  </div>   
        
        


</div>