<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Recept vinden
    </super-navbar-title>
  </super-navbar>
  
  <button class="button button-block button-calm">Wat gaan we eten?</button>
  
  <div class="list list-inset">
	<label class="item item-input">
	    <i class="icon super-search placeholder-icon"></i>
	    <input type="text" placeholder="Voedsel zoeken ...">
	</label>
  </div>

  <div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Producten Index
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="examples.length == 0">

      <super-navigate location="example#show" data-params-id="{{ example.id }}" ng-repeat="example in examples">
        <li class="item item-icon-right">
          <span ng-bind="example['Ingredienten']"></span>
          <i class="icon super-ios7-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="examples.length == 0" class="assertive padding">
      No examples found. Create one?
    </h4>

    <super-modal-show location="example#new">
      <button class="button button-full button-positive">
        Create a new example
      </button>
    </super-modal-show>
  </div>
  <a href="" class="button button-block button-positive">Even schudden!</a>
  
</div>