<div ng-controller="Page5Ctrl" id="Page5">
 <div class="header"><h1 class="nav-tit">RECEPT TOEVOEGEN</h1></div>
  <div id="picture_field0" ng-click="picture_field0Tap()">
    <div class="item item-image">
      <img src="/images/greenBig.jpg"></img>
    </div>

  </div>

  <div class="padding">
  <h5 class="lighttittle">Naam en ingrediënten</h5>
    <div class="card padding">
      <div id="text_field1" ng-click="text_field1Tap()" class="item item-input">

          <label>
            <input type="text" placeholder="Naam recept" ng-model="text_field1.value">
          </label>

      </div>
      <div id="text_field2" ng-click="text_field2Tap()" class="item item-input">

          <label>
            <input type="text" placeholder="Ingredienten" ng-model="text_field2.value">
          </label>

      </div>
    </div>


  <h5 class="lighttittle">Video's toevoegen</h5>

  <div id="card_with_image_on_left_two_text_rows3" ng-click="card_with_image_on_left_two_text_rows3Tap()">
  <div class="list card">
    <div class="item item-avatar">
      <img src="/images/green.jpg">
      <h2>Stap 1</h2>
      <p>Maak foto</p>
    </div>
  </div>
  </div>

  <div id="card_with_image_on_left_two_text_rows4" ng-click="card_with_image_on_left_two_text_rows4Tap()">
  <div class="list card">
    <div class="item item-avatar">
      <img src="/images/green.jpg">
      <h2>Stap 2</h2>
      <p>Maak foto</p>
    </div>
  </div>
  </div>

  <div id="card_with_image_on_left_two_text_rows5" ng-click="card_with_image_on_left_two_text_rows5Tap()">
  <div class="list card">
    <div class="item item-avatar">
      <img src="/images/green.jpg">
      <h2>Stap 3</h2>
      <p>Maak foto</p>
    </div>
  </div>
  </div>

  <div id="button6" ng-click="button6Tap()">
  <button class="button button-full button-large icon-right super-paper-airplane">
    Recept opslaan
  </button>
  </div>

  </div>

  </div>