/***********************************************************
 * These styles apply for native components on Android.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/

@font-face {
    font-family:"Raleway-Light";
    src: url("Raleway-Light.ttf");
}

p,h1,h2,h3,h4,h5,a{font-family:"Raleway-Light" !important; }

navigation-bar {
  background-color: #b0cb77;
  color: #ffffff;

    box-shadow:0 1px 4px rgba(0, 0, 0, 0.25) !important;
  padding-left: 6px;
  padding-right: 6px;
}

navigation-bar title {
  color:#ffffff;
  font-size:16px;
  font-weight:800;
  text-transform: uppercase;
}

navigation-bar button {
  color: #ffffff;
  font-weight: 300;
  margin-left: 6px;
  margin-right: 6px;
}

navigation-bar back-indicator {
  background-image: url(default_back_icon.png);
  background-size: 18;
}

navigation-bar back-button {
  color: #ffffff;
  font-weight: 300;
}

/**************************************
 *  Tab Bar
 *************************************/

tab-bar {
  background-color: #ffffff;
  border-top: 2px #b8b8b8 solid !important;
}

tab-bar tab-bar-item {
  color: #7d7d7d;
  font-family: 'Raleway-Light';
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #b0cb77;
}

tab-bar divider {
  background-color: #D8D8D8;
}

tab-bar tab-bar-item marker-top:selected {
  background-color: #b0cb77;
}

tab-bar-item#settings {
  background-image: url(icons/cog.svg);
}

tab-bar-item#recept-vinden {
  background-image: url(icons/search.svg);
}

tab-bar-item#recept-toevoegen {
  background-image: url(icons/home.svg);
}

