 <div class="header"><h1 class="nav-tit">INSTELLINGEN</h1></div>
  <div class="card padding">
  
  <h3>Etensvoorkeuren</h3>

  

  <p class="centered">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>



  <ul class="list">
    <li class="item item-checkbox">
       <label class="checkbox">
         <input type="checkbox">
       </label>
       Vegetariër
    </li>
      <li class="item item-checkbox">
       <label class="checkbox">
         <input type="checkbox">
       </label>
       Veganist
    </li>
      <li class="item item-checkbox">
       <label class="checkbox">
         <input type="checkbox">
       </label>
       Glutenvrij
    </li>
     <li class="item item-checkbox">
       <label class="checkbox">
         <input type="checkbox">
       </label>
       Lactosevrij
    </li>
 
  </ul>
</div>



</div>