<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="ingredienten['Vlees']"></h2>
      
      
      
       <p>Groente: <span ng-bind="ingredienten['Groente']"></span></p> 
      
       <p>Ingredienten: <span ng-bind="ingredienten['Ingredienten']"></span></p> 
      


      <super-modal-show location="ingredienten#edit?id={{ ingredienten.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(ingredienten.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
